<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./dist/style.css">
</head>

<body>
    <div class="container">
        <canvas></canvas>
        <div class="buttons">
            <button class="color-selector purple" onclick="selectColor(this)"></button>
            <button class="color-selector pink" onclick="selectColor(this)"></button>
            <button class="color-selector blue" onclick="selectColor(this)"></button>
            <button class="color-selector green" onclick="selectColor(this)"></button>
            <button class="color-selector yellow" onclick="selectColor(this)"></button>
            <button class="color-selector orange" onclick="selectColor(this)"></button>
            <button class="color-selector red" onclick="selectColor(this)"></button>
            <button class="color-selector grey" onclick="selectColor(this)"></button>
            <button class="color-selector brown" onclick="selectColor(this)"></button>
            <button class="color-selector white" onclick="selectColor(this)"></button>
        </div>
    </div>
    <script src="./dist/index.js"></script>
</body>

</html>