<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MNIST Digits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container">
        <canvas id="sketchpad" width="280" height="280">Sorry, your browser is not supported.</canvas>
        <div id="result"></div>
        <div style="clear: right"></div>
    </div>
    <button type="button" id="sketchClearButton">Clear</button>
    <button type="button" id="sketchRecogniseButton">Recognise</button>
    <div>
        <h3 id="PredictedValue">
            Hey I'm your Digit Recognizer
            <br> Write a digit and let me guess it :)
        </h3>
    </div>
    <br/>
    <script src="index.js"></script>
</body>

</html>