<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./dist/style.css">
</head>

<body>
    <div class="container">
        <canvas></canvas>
        <div class="buttons">
            <button class="color-selector purple" onclick="addColor(this)">Purple</button>
            <button class="color-selector pink" onclick="addColor(this)">Pink</button>
            <button class="color-selector blue" onclick="addColor(this)">Blue</button>
            <button class="color-selector green" onclick="addColor(this)">Green</button>
            <button class="color-selector yellow" onclick="addColor(this)">Yellow</button>
            <button class="color-selector orange" onclick="addColor(this)">Orange</button>
            <button class="color-selector red" onclick="addColor(this)">Red</button>
            <button class="color-selector grey" onclick="addColor(this)">Grey</button>
            <button class="color-selector brown" onclick="addColor(this)">Brown</button>
            <button class="color-selector white" onclick="addColor(this)">White</button>
        </div>
        <button class="color-selector" onclick="putColor('white')">Start</button>
        <button class="color-selector" onclick="train()">Get</button>
    </div>
    <script src="./dist/index.js"></script>
</body>

</html>