<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Color Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./dist/style.css">
</head>

<body>
    <div class="container">
        <canvas></canvas>
        <div class="buttons">
            <button class="color-selector purple">Purple</button>
            <button class="color-selector pink">Pink</button>
            <button class="color-selector blue">Blue</button>
            <button class="color-selector green">Green</button>
            <button class="color-selector yellow">Yellow</button>
            <button class="color-selector orange">Orange</button>
            <button class="color-selector red">Red</button>
            <button class="color-selector grey">Grey</button>
            <button class="color-selector brown">Brown</button>
            <button class="color-selector white">White</button>
        </div>
        <button class="color-selector" onclick="startPredictions()">Start</button>
    </div>
    <script src="./dist/index.js"></script>
</body>

</html>