/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Cabin|Indie+Flower");

html,
body {
  margin: 0;
  font-family: "Indie Flower";
}
a {
  text-decoration: none;
}
.black-text {
  color: black;
}
